node_modules
angular-src/node_modules
angular-src/.angular-cli.json.swp
angular-src/.angular-cli.json.swp
angular-src/.angular-cli_LOCAL_11132.json.swp
angular-src/.angular-cli_REMOTE_11132.json.swp
.DS_Store