<div>
  <div class="jumbotron text-center">
    <h1 class="ng-binding" style="
     color: palevioletred; font-weight: 400;">Profile </h1>

    <br>

    <p style=" color: navy;font-weight: 400;"> Username: {{user.username}}</p>

    <p style=" color: navy;font-weight: 400;">E-mail: {{user.email}}</p>

    <p style=" color: navy;font-weight: 400;">Mobile: {{user.mobile}}</p>

    <p style=" color: navy;font-weight: 400;">First Name: {{user.name.first}}</p>

    <p style=" color: navy;font-weight: 400;">Last Name: {{user.name.last}}</p>

    <p style=" color: navy;font-weight: 400;">Date Created: {{user.createdAt}}</p>

    <p style=" color: navy;font-weight: 400;">isAdmin: {{user.isAdmin}}</p>

    <p style=" color: navy;font-weight: 400;">Your Activities: </p>


    <hr style="height:1px;border:none;color:#333;background-color:#333;width:95%">

    <p class="ng-binding" style="
     color: initial; font-weight: 400;">Additional Data For Business Users </p>

    <p style=" color: navy; font-weight: 400;">Business Name: </p>

    <p style=" color: navy; font-weight: 400;">Business Description: </p>

    <p style=" color: navy; font-weight: 400;">Location Longitude: </p>

     <p style=" color: navy; font-weight: 400;">Location Latitude: </p>

    <p style=" color: navy; font-weight: 400;">Open from: </p>

  <p style=" color: navy; font-weight: 400;">Closed at: </p>

    <p class="w3-container w3-card-4 w3-light-grey w3-text-black w3-margin"></p>
      <button class="w3-button w3-block w3-section w3-black w3-ripple w3-padding">Add Activity</button>
  </div>
</div>
