 <h2 class="page-header">Profile</h2>
<p>Student Profile</p>
<div class ="col-sm-6">
    <div class="well">
        <h3><span class ="fa fa-user"></span> Profile</h3>
        <p>
            <strong>Name</strong>:<%=user.username %><br>
            <strong>email</strong>:<%=user.email %><br>
            <strong>password</strong>:<%=user.password%>
        </p>
    </div>
</div>
