<!-- public/views/home.html -->

<div class="jumbotron text-center">
    <h1>Home Page</h1>

    <table border="2" style=" width: 1000px;margin-left:0px;">
     <tr>
     <td>Event</td>
          <td>Activity Name</td>
               <td>Activity Type</td>

               <td>Discription</td>
               <td>Price</td>
                <td>Action</td>

     <td colspan="3">Booking</td>


    </tr>
   <tr>
   	<td>
   		some Event
   	</td>
   	<td>
   		some name
   	</td>
   		<td>
   		some activity
   	</td>
   	<td>
   		some discription
   	</td>
   	<td>
   		thePrice
   	</td>
    <td><button>Reserve</button></td>
   	<td>
   	Date Created

   	</td>
   	<td>
   	Client Name

   	</td>
   	<td>
   	isConfirmed

   	</td>
   </tr>
   <tr>
   	<td>
   		some Event
   	</td>
   		<td>
   		some name
   	</td>
   	<td>
   		some activity
   	</td>
   	<td>
   		some discription
   	</td>
   	<td>
   		thePrice
   	</td>
    <td><button>Reserve</button></td>
   	<td>
   	Date Created

   	</td>
   	<td>
   	Client Name

   	</td>
   	<td>
   	isConfirmed

   	</td>
   </tr>
</table>
</div>