<!-- public/views/profile.html -->
<!-- date created - user name - main - mobile - profile picture display - first last name - events user registered for - isAdmin
 --> 
 <!--  business discription - location - attidude - opininning hours - website - facebook -twitter   -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="jumbotron text-center">
    <h1 lass="ng-binding" style="
     color: palevioletred; font-weight: 400;">Your Breakout Profile Page</h1>

<script type="text/javascript" src="./test.js"> </script>

    <img src="https://d30y9cdsu7xlg0.cloudfront.net/png/15724-200.png" style="width:200px;height:150px;">
    <input type="file" name="" id="camerainput1" accept="image/*" capture>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">Username: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">E-mail: </p>
     <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">Mobile: </p>
     <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">First Name: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">Last Name: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy; font-weight: 400;">Date Created: </p>
     <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">Profile Picture: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy; font-weight: 400;">isAdmin: </p>
     <p class="ng-binding" style="
    margin-left: -900px; color: navy;font-weight: 400;">Your Events: </p>
    <ul>
    	<li >
    		this is my event!

    	</li><li >
    		this is my event!
    		
    	</li><li >
    		this is my event!
    		
    	</li><li >
    		this is my event!
    		
    	</li>
    </ul>
    <hr style="height:1px;border:none;color:#333;background-color:#333;width:95%">

     <p class="ng-binding" style="
     color: initial; font-weight: 400;">Additional Data For Business Users </p>
     <p class="ng-binding" style="
    margin-left: -900px; color: navy; font-weight: 400;">Location: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy; font-weight: 400;">Attitude: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: navy; font-weight: 400;">Opening Hours: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: red; font-weight: 400;">Website: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: blue; font-weight: 400;">Facbook: </p>
    <p class="ng-binding" style="
    margin-left: -900px; color: deepskyblue; font-weight: 400;">twitter: </p>
</div>