<!DOCTYPE html >
<html>
     <head>
     	 </head>

     	 <body>

<form action="/charge" method="post">
	<script src = "https://checkout.stripe.com/checkout.js"
            class = "stripe-button"
            data-key="pk_test_UNwQIfV1WE1F67UY8lxMIy2r"
            data-amount ="3000"
            data-name = "Activity"
            data-description="Payment confirmation"
            data-locale ="auto"
            data-currency ="egb"
       ></script>

      </form>



     	 </body>



     	 </html>