<div class="col-xs-12 col-sm-8">
  <div class="input-group">
    <input type="text" class="form-control" ng-model="searchText">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">Go</button>
    </span>
  </div>
</div>
<br>
<div class="col-xs-12 col-sm-4 text-center">
</div>
<div *ngIf="businesses">
  <h1>Welcome to {{business.name}}!</h1>
  <ul>
    <li *ngFor="let business of businesses" >

      Business Name: {{business.name}}<br> 
      Business Username: {{business.username}}<br> 
      Business E-mail: {{business.email}}<br>
      
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/company', business.username]">Check {{business.name}} out!</a>

      <br><br>
    </li>

  </ul>
</div>

