<!--<ul>
  <li *ngFor="let item of items; let i = index">
    {{i}} {{item}}
  </li>
</ul>-->
<div *ngIf="businesses">
  <h1>YAY</h1>
  <ul>
    <li *ngFor="let business of businesses" [routerLink]="['/company', business.username]">

      Business Name: {{business.name}}<br> 
      Business Username: {{business.username}}<br> 
      Business E-mail: {{business.email}}<br>
      Type: {{business.usertype}}<br>
      <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Check {{business.name}} out!</a>

      <br><br>
    </li>

  </ul>
</div>

<!--<span *ngFor="let v of Vs; let i = index" > {{v}} </span>-->

<!--
<li *ngFor="let doc of docs">
   <span *ngFor="let v of generateArray(doc)"> {{v}} </span>
</li>-->